.items {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 1000px) {
  .items {
    width: 100%;
    margin: 5px auto;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .items {
    margin: 5px auto;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

.item {
  background-color: white;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.item h3 {
  font-size: 16px;
  margin: 5px 0;
  color: #3483fa;
}

.added {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 234px;
}

.added > h3 {
  font-size: 18px;
  margin: 10px 10px 10px 10px;
}

.listItem {
  display: flex;
  gap: 10px;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
}

.listRecomendations {
  display: flex;
  gap: 10px;
  padding: 10px 0px 10px 20px;
  margin-bottom: 10px;
}

.recomendationDetail .link {
  font-size: 14 px;
  margin: 0px 0px 4px;
  color: #3483fa;
}

.recomendationDetail .price {
  font-size: 21px;
  color: #0f1111;
  letter-spacing: normal;
}

.recomendationAddToCart {
  display: block;
}

.page {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 30px;
  gap: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  animation: scale 0.3s ease forwards;
}

.page .imageContainer {
  text-align: center;
}

.page .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.page .info button {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-delay: 1.5s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  height: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.page .info button:hover {
  background-color: #d8ac03;
  cursor: pointer;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.page .info .title {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.page .info .price {
  font-size: 28px;
  color: #b12704;
  margin: 10px 0;
  letter-spacing: normal;
  line-height: 24px;
}

.page .aditionals {
  display: block;
}

.page .aditionals .title {
  text-align: right;
  font-size: 20px;
  margin: 30px 0 30px 40px;
  padding: 0px 0px 4px;
  color: #000000;
  letter-spacing: normal;
}

.recommendsHeading {
  font-size: 24px !important;
}

.recommendsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.pageRecommendations {
  background-color: white;
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.pageRecommendations .link {
  font-size: 16px;
  color: #3483fa;
  font-weight: 500;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 720px) {
  .page {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .page .aditionals {
    display: none;
  }

  .recommendsContainer {
    grid-template-columns: 1fr;
  }
}

.default {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 30px 0 0;
}

.default > .price {
  color: #b12704;
  margin-right: 15px;
  font-size: 18px;
}

.filterContainer {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.filterContainer button {
  border-radius: 3px;
  background: #fff;
  border-radius: 3px;
  border-color: #d5d9d9;
  border-style: solid;
  border-width: 1px;
  transition: 0.3s all ease;
  padding: 3px 0;
  height: 35px;
  font-weight: 500;
}

.filterContainer button:hover {
  background-color: #f6c70a;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 720px) {
  .page {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
