.shoppingCart {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #efefef;
  width: 675px; /* 350px */
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.shoppingCart .listItems .navItems{
  display: flex;
  align-items:center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 5px;
}

.shoppingCart .listItems .navItems .all {
  margin: 10px 20px 10px 20px;
  gap: 10px;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all .1s linear;
  color: #3483fa;
  -webkit-appearance: button;
  background: 0 0;
  border: 0;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  padding: 0;
  font: inherit;
  line-height: inherit;
}

.shoppingCart .listItems .navItems .all:hover{
  text-decoration: underline;
}

.total {
  font-weight: bolder;
  font-size: 22px;
}

.empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.closeContainer {
  position: relative;
}

.closeContainer .close {
  position: absolute;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 28px;
  padding: 2px 2px;
  cursor: pointer;
  z-index: 999;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
}

.closeContainer .close:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header > h3 {
  font-size: 18px;
}

.addedItem {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 14px;
}

.addedItem .cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.addedItem .cart .infoDetail .subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin: 5px 5px 5px 5px;
}

.addedItem .cart .infoDetail .qty {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 5px 2px 5px 2px;
}

.addedItem .cart .infoDetail .price {
  font-size: 16px;
  font-weight: 700;
  color: #b12704;
  margin: 5px 5px 5px 5px;
}

.addedItem .cart .buttonsDetail .buttonGoCart {
  min-width: 88px;
  min-height: 28px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #efefef;
  font-size: 13px;
  line-height: 24px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin: 15px 15px 15px 5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.addedItem .cart .buttonsDetail .buttonGoCart:hover{
  background-color: rgba(239, 239, 239, .6);
}

.addedItem .cart .buttonsDetail .buttonGoCheckout {
  min-width: 88px;
  min-height: 28px;
  width: 234px;
  height: 38px;
  border-radius: 3px;
  border: none;
  font-size: 13px;
  line-height: 24px;
  background-color: #f6c70a;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin: 15px 15px 15px 5px;
  flex-shrink: initial;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.addedItem .cart .buttonsDetail .buttonGoCheckout:hover{
  background-color: #B89402;
}

.recomendations {
  background-color: #ffffff;
  margin: 10px;
  padding: 14px 18px;
}

.recomendations h3 {
  font-size: 18px;
  padding: 0px 0px 4px;
  color: #000000;
}